body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

#quote {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
}

button {
    background: linear-gradient(90deg, red, orange);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup {
    position: fixed;
    width: 180px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    background: radial-gradient(white, rgb(178, 178, 178));
    display: none;
    z-index: 1000;
}

.popup h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.popup-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    gap: 20px;
}

.popup-icons a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    display: inline-block;
}

.whatsapp {
    background-color: green;
}

.linkedin {
    background-color: blue;
}

.X-twitter {
    background-color: black;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
}


@media (max-width: 480px) {
    *{
        -webkit-tap-highlight-color: transparent;
    }
    .popup-icons a{
        padding: 8px 10px;
    }
}
